body {
    font-family: Arial, sans-serif;

}

nav {
    background-color: #3ABCB2;
    padding: 10px;
}

.encabezado {
    background-color: #045e56;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    display: block;
}

nav ul li a:hover {
    background-color: #036e55;
}

.cuerpo {
    background: linear-gradient(to bottom, #65C5BE, #D5FFFF);
    margin: 0;
    font-family: Arial, sans-serif;
}

.encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    max-height: 60px;
}

.contorno {
    display:flex;
    height: 10px;
}

.input {
    padding: 15px;
    width: 350px;
    border-radius: 10px 0 0 10px;
    border: 0;
    outline: none;
    flex: 1;
    display: flex;
}

.botom {
    background-color: brown !important;
    padding: 15px;
    border: 0;
    border-radius: 0 5px 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.info {
    border-radius: 30px;
    background-color: #045e5771;
    display: flex;
    align-items: center;
    /* Alinea verticalmente el párrafo con la imagen */
    width: 95%;
    justify-content: center;
}

.circulo {
    max-height: 100px;
    margin-right: 20px;
    /* Espacio entre la imagen y el párrafo */
    border-radius: 50%;
    /* Hace que la imagen sea circular si es cuadrada */
}

.parrafo {
    margin: 0;
    /* Elimina los márgenes del párrafo */
    text-align: justify;
    padding-right: 20px;
}

.titulo {
    padding-left: 20px;
    text-align:left;
}


.contenedor {
    display: flex;
    align-items: flex-start;
    /* Alinea los cuadrados en la parte superior */
    padding: 20px;
    /* Espacio alrededor del contenedor */
}

.verde {
    width: 200px;
    height: 800px;
    background-color: #038325;
}

.cuadrado {
    width: 1500px;
    height: 400px;
    background-color: #fcfeff;
    margin-left: 20px;
    /* Espacio entre los cuadrados */
}


.carrusel {
    position: relative;
    width: 30%;
    margin: auto;
    overflow: hidden;
    justify-content: left;
}

.carruselFondo{
    background-image: url(https://cswetwebcorsta01.blob.core.windows.net/uploads/2022/04/ODS-Image.png);

}

.carrusel-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.carrusel-item {
    min-width: 100%;
    box-sizing: border-box;
}

.carrusel-item img {
    width: 100%;
    display: block;
}


.prev {
    left: 10px;
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1;
}

.next {
    right: 10px;
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1;
}

.cuadradoHistoria{
    background: linear-gradient(to bottom, #65C5BE, #D5FFFF);
    width: 300px;
    height: 630px;
    border-radius: 30px;
}

.historia{
    font-family: 'Arial', sans-serif; 
    font-size: 35px;
    color: #333;
    text-align: center; 
    text-transform: uppercase; 
    background: linear-gradient(to right, #6a11cb, #2575fc); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
}

.parrafoHistoria{
    font-family: 'Georgia', serif; /* Fuente serif elegante */
    font-size: 15px; /* Tamaño de la fuente */
    line-height: 1.5; /* Espaciado entre líneas */
    text-align: justify; /* Justificar el texto */
    margin: 30px 0; /* Espaciado alrededor del párrafo */
    padding: 15px; /* Relleno dentro del párrafo */
    
    border-radius: 8px; /* Bordes redondeados */
}

.cuadrado2{
    background-color: #fcfeff;
    width: 1000px;
    height: 100px;
    margin-left: 400px;
    border-radius: 30px;
    position: absolute;
}

.pregunta{
    font-family: 'Arial', sans-serif; 
    font-size: 35px;
    color: #333;
    text-align: center; 
    text-transform: uppercase; 
    background: linear-gradient(to right, #6a11cb, #2575fc); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
}

.cuadradoImagenes{
    background-color:#65C5BE;
    display: flex;
    align-items: flex-start;
    width: 900px;
    height: 300px;
    margin-left: 450px;
    border-radius: 30px;
    position: absolute;
    margin-top: 140px;
}

.seccion2{
    display: flex;
    align-items: flex-start;
    /* Alinea los cuadrados en la parte superior */
}

.sub{
    font-family: 'Arial', sans-serif; 
    font-size: 35px;
    color: #333;
    text-align: center; 
    text-transform: uppercase; 
    background: linear-gradient(to right, #6a11cb, #2575fc); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
}

.razon{
    width: 100px; /* Ancho fijo para todas las imágenes */
    height: 100px; /* Altura fija para todas las imágenes */
    object-fit: cover; /* Ajusta la imagen para que se recorte o escale proporcionalmente */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidad */
    transition: transform 0.3s ease-in-out; /* Transición suave para el efecto hover */
}






